<section class="jumbotron text-center">
  <div class="container">
  <h1 class="jumbotron-heading">Register a booking</h1>
  <br />
    <div class="row align-items-center">
      <div class="col-6">
        <div class="card" style="width: 30rem;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <%= link_to("Go to bookings", employees_bookings_path, class: 'btn btn-primary') %>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card" style="width: 30rem;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <%= link_to("Create a rental", new_employees_renting_path, class: 'btn btn-primary') %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
