<section class="jumbotron text-center">
  <div class="container">
  <h1 class="jumbotron-heading">Welcome employee</h1>
  <br />
    <div class="row align-items-center">
      <div class="col-6">
        <div class="card" style="width: 30rem;">
          <div class="card-body">
            <h5 class="card-title">Check customer bookings</h5>
            <p class="card-text">Checkout customer bookings, change their status and create rentals from bookings.</p>
            <%= link_to("Go to bookings", employees_bookings_path, class: 'btn btn-primary') %>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card" style="width: 30rem;">
          <div class="card-body">
            <h5 class="card-title">Make a customer rental</h5>
            <p class="card-text">Create a customer rental and make sure they enjoy their stay at our wonderful hotel!</p>
            <%= link_to("Create a rental", new_employees_renting_path, class: 'btn btn-primary') %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
