<main role="main">
  <%= render 'shared/search_form' %>

  <div class="album py-5 bg-white">
    <div class="container">

      <% @rooms_parts.each do |rooms| %>
        <%= render partial: 'shared/rooms_row', locals: {rooms: rooms} %>
      <% end %>

    </div>
  </div>

</main>
