<div class="row" style="margin-bottom: 10px;">
  <% rooms.each do |room| %>
    <div class="col-md-<%= cols %>">
      <%= render partial: 'shared/room', locals: {room: room} %>
    </div>
  <% end %>
</div>
