/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require bootstrap-datepicker
 *= require_self
 *= require jquery-ui
 */

@import "bootstrap";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.div-center {
  margin: 0 auto !important;
}

.jumbotron {
  margin-bottom: 0 !important;
  padding: 5.5rem 2rem;
}

#error_explanation {
  text-align: left !important;
  border: 1px solid red;
  border-radius: 5px;
  background-color: #ffe5e5;
  padding: 20px 15px 5px;
  margin: 10px;

  h2 {
    font-size: 1.5rem !important;
  }
}

.material-icons {
  vertical-align: bottom !important;
}

.banner {
  overflow: hidden;
  height: 30em;
  position: relative;
  background-size: cover;
  background-position: 50% 20%;
  z-index: 0;
  position: relative;
  height: 450px;
  padding: 0;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: -webkit-linear-gradient(top,rgba(0,0,0,.2) 0,rgba(0,0,0,.05) 50%,rgba(0,0,0,.05) 50%,rgba(0,0,0,.5) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,.2) 0,rgba(0,0,0,.05) 50%,rgba(0,0,0,.05) 50%,rgba(0,0,0,.5) 100%);
    z-index: 0;
  }

  .title {
    padding: 10px 20px;
    position: absolute;
    bottom: 30px;
  }
}

.info-row {
  padding: 10px 5px;
  margin-left: 15px;
  margin-right: 15px;
}

.tiny-avatar {
  border-radius: 30px;
  max-width: 25px;
  max-height: 25px;
}
